@model Order

@{
    ViewData["Title"] = "Удаление заказа";
}

<h3>Вы уверены, что хотите удалить этот заказ?</h3>
<div>
    <h4>Информация о заказе</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
        <dd class="col-sm-9">@Model.Price.ToString("C")</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.OrderDate)</dt>
        <dd class="col-sm-9">@Model.OrderDate.ToString("dd.MM.yyyy")</dd>
        
        <dt class="col-sm-3">Пользователь</dt>
        <dd class="col-sm-9">
            @if (Model.User != null)
            {
                @Model.User.FullName
            }
            else
            {
                <span class="text-muted">Не указан</span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Удалить
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Отмена
        </a>
    </form>
</div>